
<IfModule mod_rewrite.c>    
    RewriteEngine On
    RewriteBase /

    # Redirect HTTP to HTTPS
    RewriteCond %{HTTPS} !=on
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Prevent processing of specific files and directories
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l

    # Redirect all other requests to index.html for SPA
    RewriteRule . /index.html [L]
</IfModule>
